/* Обнуление */
*,
*::before,
*::after 
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box
ul,
ol,
li 
	list-style: none
img 
	vertical-align: top
h1,
h2,
h3,
h4,
h5,
h6 
	font-weight: inherit
	font-size: inherit
html
	scroll-behavior: smooth
a
	text-decoration: none
	color: #ffffff
body
	color: #ffffff
	font-size: 16px
	font-family: HelveticaNeueCyr-Medium
input
	outline: none
	
@mixin active
	transform: translate(0px,0px)
	opacity: 1
@mixin green 
	color: #3bd071
@mixin bg_green 
	background-color: #3bd071
.header_promo._active
	@include active
.white._active
	@include active
.black._active
	@include active
.share_info._active
	@include active
.grow_promo._active
	@include active
.easy_box._active
	@include active
.business_list._active
	@include active
.bus_img1._active
	@include active
.bus_img2._active
	@include active
.bus_img3._active
	@include active
.top_promo._active
	@include active
.top_line._active
	@include active
.container
	max-width: 948px
	margin: 0 auto
	padding: 5px
.header
	background: url('../img/bg_header.jpg') center center / cover no-repeat
	position: relative
	padding-bottom: 84px
	max-height: 624px
	object-fit: cover
	z-index: 1
	&_body
		display: flex
		justify-content: space-between
	&_promo
		padding-top: 60px
		max-width: 450px
		transform: translate(-20%,0px)
		opacity: 0
		transition: all 1.5s ease 0s
	&_logo
		font-size: 36px
		line-height: 22px
		font-weight: 600
		letter-spacing: -0.01em
	&_title
		margin-top: 105px
		font-size: 32px
		line-height: 32px
		font-weight: 400
		position: relative
		margin-left: 80px
		&::after
			content: url('../img/icons/logo.png')
			width: 50px
			height: 50px
			position: absolute
			left: -81px
			top: 5px
	&_text
		font-size: 16px
		line-height: 24px
		margin-top: 30px
	&_btn
		background-color: #0d0d0d
		max-width: 216px
		border-radius: 5px
		margin-top: 16px
		padding: 3px 0
		cursor: pointer
		position: relative
		&:hover
			opacity: 0.8
	&_label
		margin-top: 57px
	&_input
		width: 296px
		padding-left: 20px
		max-height: 48px
		padding-top: 15px
		padding-bottom: 15px
		background: transparent
		border: 2px solid #fff
		color: #fff
		&::placeholder
			color: white
	&_email
		display: flex
		align-items: center
		margin-top: 12px
	&_imgs
		display: flex
		align-items: center	
		margin-left: 120px	
.btn
	&_promo
		display: flex
		align-items: center
		justify-content: center
		padding: 5px 20px
	&_text
		margin-left: 20px
	&_subtitle
		font-size: 11px
		font-weight: 400
	&_title
		font-size: 19px
		line-height: 19px
		font-weight: 400
.strong
	font-weight: 600
	font-size: 32px
	line-height: 32px

@media (max-width: 375px) 
	.header
		&_body
			display: block
		&_logo
			font-size: 24px
		&_title
			margin-top: 30px
			font-size: 24px
		&_email
			display: block
		&_input
			width: 100%
		.email_btn
			width: 100%
			margin-top: 10px
			margin-left: 0
	.strong
		font-size: 26px

.email
	&_btn
		width: 136px
		height: 48px
		margin-left: 20px
		border-radius: 5px
		cursor: pointer
		&:hover
			background-color: #1a6981
			transition: all 0.5s ease 0s
	&_link
		font-size: 16px
		font-weight: 600
		color: #3cd072
.black
	z-index: 1
	padding-top: 50px
	transform: translate(30%,0px)
	opacity: 0
	transition: all 1.5s ease 0s
.white
	z-index: 2
	padding-top: 110px
	margin-left: -150px
	transform: translate(40%,0px)
	opacity: 0
	transition: all 1.5s ease 0.5s
@media (max-width: 768px) 
	.black
		display: none
	.white
		display: none
.share
	max-height: 624px
	background-color: #f0f0f0
	position: relative
	&_body
		display: flex
		justify-content: space-between	
	&_promo
		margin-top: 164px
		margin-bottom: 91px
		max-width: 380px
	&_info
		transform: translate(0px,120%)
		opacity: 0
		transition: all 1.5s ease 0s
	&_title
		font-size: 24px
		line-height: 32px
		font-weight: 800
		color: #3cd072
		position: relative
		margin-left: 75px
		&::after
			content: url('../img/icons/share_icon_.png')
			width: 50px
			height: 50px
			position: absolute
			left: -81px
			top: -15px
	&_text
		font-size: 16px
		line-height: 24px
		font-weight: 400
		color: #000000
		margin-top: 15px
	&_img1
		z-index: 0
		margin-top: 170px
		margin-left: -105px
	&_img2
		margin-top: -685px
		margin-left: 80px
		z-index: 32
@media (max-width: 768px) 
	.share
		display: block
		&_img1
			display: none
		&_img2
			display: none
		&_promo
			max-width: 80%
			margin: 0 auto
			margin-top: 50px
			margin-bottom: 50px
	
.grow
	&_promo
		transform: translate(0px,120%)
		opacity: 0
		transition: all 1.5s ease 0.2s
	&_title
		font-size: 24px
		line-height: 32px
		font-weight: 800
		color: #3cd072
		margin-left: 75px
		margin-top: 60px
		position: relative
		&::after
			content: url('../img/icons/grow.png')
			width: 50px
			height: 50px
			position: absolute
			left: -81px
			top: -15px

.easy
	max-height: 846px
	text-align: center
	&_logo
		margin-top: 48px
	&_title
		font-size: 24px
		line-height: 32px
		font-weight: 600
		color: #000000
		margin-top: 31px
	&_subtitle
		margin-top: 16px
		font-size: 36px
		line-height: 32px
		font-weight: 600
		color: #3cd072
	&_promo
		display: flex
		align-items: center
		justify-content: space-between
	&_box
		display: flex
		flex-direction: column
		align-items: center
		margin-top: 44px
		transform: translate(0px,10%)
		opacity: 0
		transition: all 1s ease 0.2s
	&_img
		position: relative
		margin-top: 50px
		z-index: 1
.box
	&_title
		border: 2px solid #3cd072
		border-radius: 100%
		color: #3cd072
		width: 56px
		height: 56px
		font-size: 21px
		line-height: 56px
	&_subtitle
		font-size: 24px
		line-height: 32px
		font-weight: 600
		color: #000000
		margin-top: 31px
.box1
	transition: all 1s ease 0.2s
.box2
	transition: all 1s ease 0.5s
.box3
	transition: all 1s ease 0.7s
@media (max-width: 768px) 
	.easy
		max-height: 1146px
		margin-bottom: 50px
		&_box
			max-width: 229px
		&_title
			font-size: 16px
		&_subtitle
			font-size: 18px
		&_img
			max-width: 100%
@media (max-width : 375px) 
	.easy
		max-height: 100%
		&_promo
			display: flex
			flex-direction: column
		
.slider
	position: relative
	background-color: #000
	height: 462px
	z-index: 4
	text-align: center
	&_title
		font-size: 24px
		line-height: 32px
		font-weight: 600
		margin-top: 79px
	&_subtitle
		font-size: 36px
		line-height: 32px
		font-weight: 600
		color: #3cd072
		margin-top: 16px
.swiper
	width: 100%
	height: 139px
	margin-top: 52px
.swiper-slide 
	text-align: center
	font-size: 18px
	display: flex
	justify-content: center
	align-items: center
.swiper-img img
	display: block
	object-fit: cover
@media (max-width: 1024px) 
	.swiper-img 
		width: 97px
		height: 92px
@media (max-width: 768px) 
	.slider
		height: 359px
		margin-top: 30px
	.swiper
		margin-top: 20px
	.swiper-img 
		width: 77px
		height: 72px
@media (max-width: 375px) 
	.slider
		display: none
.business
	height: 696px
	position: relative
	z-index: 2
	background-color: #3cd072
	&_bg
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
	&_bgc
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		object-fit: cover
		z-index: -1
		opacity: 0.2
	&_body
		display: flex
		justify-content: space-between
	&_promo
		max-width: 475px
		position: relative
	&_title
		font-size: 36px
		line-height: 24px
		font-weight: 600
		margin-top: 95px
		color: #fff
		margin-left: 100px
		&::before
			content: (url('../img/icons/business.png'))
			width: 72px
			height: 72px
			position: absolute
			top: 75px
			left: 0
	&_text
		font-size: 16px
		line-height: 24px
		font-weight: 400
		color: #000000
		margin-top: 40px
	&_list
		transform: translate(-50%,0)
		opacity: 0
		transition: all 2s ease 0.2s
	&_item
		font-size: 24px
		line-height: 24px
		font-weight: 600
		margin-top: 50px
		position: relative
		margin-left: 80px
		&::before
			content: (url('../img/icons/ok.png'))
			width: 56px
			height: 56px
			position: absolute
			top: -16px
			left: -83px
.bus_img1
	margin-top: 310px
	transform: translate(50%,0)
	opacity: 0
	transition: all 2s ease 0.2s
.bus_img2
	margin-top: 220px
	transform: translate(80%,0)
	opacity: 0
	transition: all 2s ease 0.4s
.bus_img3
	margin-top: 110px
	margin-right:  -140px
	transform: translate(100%,0)
	opacity: 0
	transition: all 2s ease 0.6s
@media (max-width: 1024px) 
	.business_promo
		max-width: 455px
	.bus_img3
		margin-right:  -60px
@media (max-width: 768px) 
	.bus_img1
		display: none
	.bus_img2
		display: none
	.bus_img3
		display: none
	.business
		&_promo
			max-width: 675px
@media (max-width: 375px) 
	.business
		height: 746px
		&_item
			font-size: 18px
		&_title
			margin-top: 35px
			line-height: 36px
			&::before
				top: 35px
				left: 10px
.submit
	height: 192px
	background-color: #f0f0f0
	position: relative
	z-index: 10
	&_title
		margin-top: 45px
		font-size: 24px
		line-height: 24px
		font-weight: 600
		color: #000000
	&_promo
		margin-top: 19px
		display: flex
		justify-content: space-between
	&_input
		border: 2px solid #3cd072
		padding: 19px 0 19px 15px
		width: 696px
		margin-right: 20px
		&::placeholder
			font-weight: 400
			color: #3cd072
	&_btn
		background-color: #000
		padding: 13px 70px
		cursor: pointer
		border-radius: 5px
		&:hover
			background-color: #1a6981
			transition: all 0.5s ease 0s
	&_link
		font-weight: 600
		color: #3cd072
		font-size: 16px
@media (max-width: 375px) 
	.submit
		height: 220px
		&_promo
			display: block		
		&_btn
			width: 100%
			margin-top: 10px
		&_input
			width: 100%
		&_title
			margin-top: 25px
.gifts
	text-align: center
	position: relative
	&_img	
		margin-top: 72px
	&_title
		font-size: 24px
		line-height: 32px
		font-weight: 600
		color: #000000
		margin-top: 28px
	&_subtitle
		font-size: 36px
		line-height: 32px
		font-weight: 600
		color: #3cd072
		margin-top: 16px
	&_text
		line-height: 24px
		font-weight: 400
		color: #000000
		margin-top: 43px
	&_bg
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		margin-top: 433px
		z-index: 1
	&_btn
		margin-top: 277px
		background-color: #000
		padding: 17px 42px
		border-radius: 5px
		cursor: pointer
		&:hover
			background-color: #1a6981
			transition: all 0.5s ease 0s
	&_link
		font-size: 16px
		line-height: 24px
		font-weight: 600
		color: #3cd072
.mySwiper2
	margin-top: 198px
	height: 152px
@media (max-width: 1024px) 
	.gifts
		&_bg
			width: 307px
			height: 355px
		&_btn
			margin-top: 177px
@media (max-width: 768px) 
	.gifts
		&_bg
			width: 257px
			height: 305px
			top: 50px
		&_btn
			margin-top: 117px
@media (max-width: 375px) 
	.gifts
		&_img	
			margin-top: 42px	
		&_subtitle
			font-size: 28px
		&_btn
			margin-top: 377px
	.mySwiper2
		display: none
.top
	margin-bottom: 60px
	&_title
		margin-top: 142px
		font-size: 36px
		line-height: 32px
		font-weight: 600
		color: #3cd072
	&_line
		width: 936px
		height: 2px
		background-color: #adadad
		margin-top: 17px
		opacity: 0
		transition: all 2s ease 1s
		transform: translate(0,-100%)
	&_promo
		margin-top: 24px
		display: flex
		align-items: center
		justify-content: space-between
		opacity: 0
		transition: all 2s ease 0.6s
	&_name
		font-size: 36px
		font-weight: 400
		color: #3cd072
	&_logo
		margin-left: 23px
	&_rating
		display: flex
	&_born
		font-size: 24px
		font-weight: 400
		color: #000
		margin-top: 10px
	&_info_count
		font-size: 24px
		line-height: 16px
		font-weight: 400
		color: #000
	&_reviews
		color: grey 
		font-size: 14px
	&_anketa
		margin-left: 23px
	&_counter
		font-size: 48px
		font-weight: 400
		color: #000
		position: relative
		&::before
			content: (url('../img/icons/top.webp'))
			width: 72px
			height: 72px
			position: absolute
			top: 20px
			right: 150px
.promo1
	transform: translate(100%,0)
.promo2
	transform: translate(-100%,0)
.promo3
	transform: translate(100%,0)
.promo4
	transform: translate(-100%,0)
.promo5
	transform: translate(100%,0)
.dark
	background-color: #000
.green
	@include green
.greenbg
	@include bg_green
.dark_title
	color: #fff
@media (max-width: 768px) 
	.top
		&_body
			max-width: 690px
			margin: 0 auto	
		&_line
			width: 693px
@media (max-width: 375px) 
	.top
		&_title
			margin-top: 42px
		&_title
			font-size: 28px
		&_promo
			display: block
		&_logo
			margin-left: 130px
		&_anketa
			margin-left: 0
		&_name
			margin-top: 10px
		&_reviews
			display: none
		&_born
			margin-top: 0
		&_counter
			margin-top: 20px
			margin-left: 170px
			&::before
				top: 20px
				left: -50px
		&_line
			width: 336px
@media (max-width: 320px) 
	.top
		&_line
			width: 316px
		&_logo
			margin-left: 90px
		&_counter
			margin-left: 150px
.contacts
	background: url('../img/contacts_bg.png') center center/cover no-repeat
	&_body
		display: flex
		justify-content: space-around
	&_form
		max-width: 456px
		margin-bottom: 50px
	&_title
		margin-top: 95px
		font-size: 36px
		line-height: 32px
		font-weight: 600
		color: #000000
	&_name
		width: 456px
		height: 48px
		background-color: #ffffff
		margin-top: 24px
		padding-left: 16px
		&::placeholder
			font-weight: 400
			color: #3cd072
	&_email
		width: 456px
		height: 48px
		background-color: #ffffff
		margin-top: 24px
		padding-left: 16px
		&::placeholder
			font-weight: 400
			color: #3cd072
	&_text
		width: 456px
		height: 192px
		background-color: #ffffff
		margin-top: 24px
		padding-left: 16px
		&::placeholder
			font-weight: 400
			color: #3cd072
	&_btn
		width: 216px
		height: 48px
		background-color: #000000
		display: block
		margin-top: 24px
		border-radius: 5px
		&:hover
			background-color: #1a6981
			transition: all 0.5s ease 0s
	&_link
		font-size: 16px
		line-height: 24px
		font-weight: 600
		color: #ffffff
.facebook
	font-size: 24px
	line-height: 24px
	font-weight: 600
	margin-top: 32px
	color: #ffffff
	position: relative
	margin-left: 56px
	&::before
		content: (url('../img/icons/fb.png'))
		width: 49px
		height: 49px
		position: absolute
		top: -10px
		left: -60px
.twitter
	font-size: 24px
	line-height: 24px
	font-weight: 600
	color: #ffffff
	margin-top: 56px
	position: relative
	margin-left: 56px
	&::before
		content: (url('../img/icons/tw.png'))
		width: 49px
		height: 49px
		position: absolute
		top: -10px
		left: -60px
.vk
	font-size: 24px
	line-height: 24px
	font-weight: 600
	color: #ffffff
	margin-top: 56px
	position: relative
	margin-left: 56px
	&::before
		content: (url('../img/icons/vk.png'))
		width: 49px
		height: 49px
		position: absolute
		top: -10px
		left: -60px
@media (max-width: 375px) 
	.contacts
		text-align: center
		&_title
			margin-top: 30px
		&_body
			display: block
		&_name
			width: 345px
			margin-top: 20px
		&_email
			width: 345px
			margin-top: 10px
		&_text
			width: 345px
			margin-top: 10px
		&_btn
			width: 345px
			margin: 0 auto
			margin-top: 10px
		&_social
			padding-left: 15px
			margin-bottom: 30px
	.facebook
		text-align: left
		
	.twitter
		text-align: left
		margin-top: 36px
	.vk
		text-align: left
		margin-top: 36px
@media (max-width: 320px) 
	.contacts
		&_name
			width: 305px
		&_email
			width: 305px
		&_text
			width: 305px
		&_btn
			width: 305px
.footer
	&_body
		display: flex
		align-items: center
		justify-content: space-between
		padding-top: 50px
		padding-bottom: 50px
		
	&_copyright
		font-size: 16px
		line-height: 24px
		font-weight: 400
		color: #909090
	&_img
		position: relative
		margin-left: 140px
		&::before
			content: (url('../img/icons/map.png'))
			width: 49px
			height: 49px
			position: absolute
			top: -15px
			left: -90px
@media (max-width: 375px) 
	.footer
		text-align: center
		&_body
			display: block
		&_copyright
			margin-top: 30px
		&_img
			margin-left: 0
			&::before
				display: none